@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    img {
        @apply w-full;
    }

    .section {
        @apply container mx-auto py-24 px-0;
    }
}
